<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.gameName %></title>

    <meta charset="UTF-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.gameDescription %>">
    <meta name="keywords" content="motorbike, motorcycle, superbike, game, phaser3, typescript, pwa">
    <meta name="author" content="Krisztian Konya, Konyisoft">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="theme-color" content="#121212">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>">
    <meta name="msapplication-starturl" content="./">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="manifest" href="./manifest.json">
    <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png">
    <link rel="shortcut icon" href="./favicon.png" type="image/png">

    <meta property="og:url" content="https://superbike.konyisoft.eu/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.gameName %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.gameDescription %>">
    <meta property="og:image" content="https://superbike.konyisoft.eu/assets/misc/og.jpg">

    <style>
      @font-face {
        font-family: "mikropix";
        src: url("./assets/fonts/mikropix.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      html,
      body {
        background-color: #121212;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <noscript>Please enable javascript to continue using this application.</noscript>

    <!-- installs the serviceWorker -->
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        });
      }
    </script>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '735083377091333',
          xfbml      : true,
          version    : 'v8.0'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="phaser-game"></div>
  </body>
</html>
